<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
     xmlns:c="http://www.springframework.org/schema/c"
     xmlns:p="http://www.springframework.org/schema/p"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-2.5.xsd">
    
    <context:component-scan base-package="com.tcs.beans"/>
    
   <bean id= "address1" class="com.tcs.beans.Address" p:doorNo="111" p:street="Madhapur" p:state="TS"/>
 	<bean id="exp1" class="com.tcs.beans.Exp" p:years="8" p:months="9"/>
 	
 	  <bean id= "address2" class="com.tcs.beans.Address" p:doorNo="111" p:street="Madhapur" p:state="TS"/>
 	<bean id="exp2" class="com.tcs.beans.Exp" p:years="8" p:months="9"/>
 	
 	   

 <!--  
 	   <bean id="emp" class="com.tcs.beans.Emp" p:address-ref="address" p:exp-ref="exp"/> 
 -->	
 <!--  
    <bean id="emp" class="com.tcs.beans.Emp" autowire="byName"/> 
  -->  
  <!-- 
     <bean id="emp" class="com.tcs.beans.Emp" autowire="byType"/> 
   -->
    <!-- 
     <bean id="emp" class="com.tcs.beans.Emp" autowire="constructor"/> 
   -->
  
     </beans>